### OS
.DS_Store

### Logs
*.log
hs_err_pid*

### Build
target/
out/
build/

### Compiled files
*.class

### Archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### IntelliJ IDEA
.idea/
*.iml

# Local H2 database files
*.mv.db
*.trace.db