<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container">
    <div class="row mt-3 mb-3 align-items-center">
        <div class="col-12">
            <div class="btn-group" role="group" aria-label="Task filter">
                <a th:href="@{/tasks}"
                   th:class="${filter == 'all'} ? 'btn btn-sm btn-secondary' : 'btn btn-sm btn-outline-secondary'">
                    All
                </a>

                <a th:href="@{/tasks/done}"
                   th:class="${filter == 'done'} ? 'btn btn-sm btn-secondary' : 'btn btn-sm btn-outline-secondary'">
                    Completed
                </a>

                <a th:href="@{/tasks/new}"
                   th:class="${filter == 'new'} ? 'btn btn-sm btn-secondary' : 'btn btn-sm btn-outline-secondary'">
                    New
                </a>
            </div>

            <a class="btn btn-sm btn-primary ml-4" th:href="@{/tasks/create}">Add task</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th><i class="bi bi-square"></i></th>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Creation Date</th>
                <th scope="col">State</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td>
                    <span th:if="${task.done}">
                        <i class="bi bi-check-square"></i>
                    </span>
                    <span th:if="${!task.done}">
                        <i class="bi bi-square"></i>
                    </span>
                </td>
                <td th:text="${task.id}"></td>
                <td>
                    <a th:text="${task.title}"
                       th:href="@{/tasks/{taskId}(taskId=${task.id})}">
                    </a>
                </td>
                <td th:text="${{task.created}}"></td>
                <td>
                    <span th:if="${task.done}">Completed</span>
                    <span th:if="${!task.done}">New</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>