<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<main class="container mt-4">
    <h3>TODO list</h3>
    <p class="text-muted">
        A simple TODO list application for creating, viewing, editing and completing tasks.
    </p>

    <ul>
        <li><a th:href="@{/tasks}">Tasks</a></li>
        <li><a th:href="@{/tasks/create}">Create task</a></li>
    </ul>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>